.AboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 97, 76);
    height: 50vh;
}

.AboutText {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    color: white;
}

.AboutText > button {
    width: 60%;
    height: 15%;
    background-color: rgb(255, 255, 236);
    border: 0;
    border-radius: 8px;
}

.AboutText > button:hover {
    box-shadow: 0 0 2px 2px beige;
    scale: 1.05;
}

.AboutImage {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .AboutText {
        font-size: 1.1em;
    }
}

@Media (max-width: 600px ) 
{
    .AboutImage {
        width: 225px;
        height: 225px;
    }

    .AboutText {
        height: 30%;
        width: 95%;
        font-size: 1.0em;
    }

    .AboutText > button {
        width: 60%;
    }
}

@Media (max-width: 450px) {
    .AboutText {
        font-size: 0.8em;
    }
}

@Media (max-height: 850px) {
    .AboutSection {
        height: 450px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .AboutImage {
        height: 200px;
        width: 200px;
    }

    .AboutText {
        height: 30%;
        width: 90%;
    }

    .AboutText > button {
        width: 50%;
    }
}