.PageFooter {
    background-color: rgb(80, 141, 80);
    height: 50px;
}

.FooterLinks {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.FooterLinks > a {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterLinks > a:hover {
    box-shadow: 0 0 0px 4px rgb(80, 141, 80);
    translate: translate(0px, 20px);
}

.FooterLinks > a:hover > * {
    scale: 1.1;
}
