.HeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.HeroText {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.HeroText > h1 {
    padding-left: 10px;
    padding-right: 10px;
}

.HeroText > h4 {
    padding-left: 10px;
    padding-right: 10px;
}

.HeroCanvas {
    width: 100%;
    height: 100%;
}

.LinkButtons {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 50%;
}

.LinkButtons > a:hover {
    scale: 1.1;
}

@media (max-width: 800px) {
    .LinkButtons {
        width: 100%;
        justify-content: center;
    }
}

@Media (max-height: 450px) {
    .HeroSection {
        height: 400px;
    }
}

@Media (max-width: 350px) {
    .HeroSection {
        height: 800px;
    }
}