.Navbar
{   
    height: 5%;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.NavbarBG {
    background-color:rgb(65, 83, 65);
    border-bottom: 1.5px solid rgba(216, 86, 25, 0.3);
    box-shadow: 0 0 7px 0px rgba(216, 86, 25, 0.1);
}

.NavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2%;
    /* background-color: rgba(42, 82, 42, 0.644); */
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 2%;
}

.NavLinksBG > * > * {
    color: white!important;
}


.NavLinks > * >* {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.NavLinks > * > *:hover {
    border-bottom: 3px solid rgb(216, 86, 25);
    color: rgb(167, 65, 18);
}

@Media (max-width: 700px ) 
{
    .Navbar {
        height: 5%;
    }

    .NavLinks > * >* {
        font-size: 18px;
    }
}

@Media (max-width: 450px)
{
    .NavLinks > * >* {
        font-size: 15px;
    }
}