.ProjectsSection {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
    justify-content: center;
    height: 100vh;
}

.ProjectCard {
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.ProjectCardBackground {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 100%;
}

.CardButtons {
    display: flex;
    flex-direction: column;
}

.FirstCard {
    grid-column: 2 / 11;
    grid-row: 2 / 7;
}

#FirstCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#FirstCard > .CardButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 17%;
}

#FirstCard > .CardButtons > * {
    height: 100%;
    width: 22%;
}

.SecondCard {
    grid-column: 2 / 5;
    grid-row: 7 / 12;
}

#SecondCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#SecondCard > .CardButtons {
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    width: 80%;
}

.ThirdCard {
    grid-column: 5 / 8;
    grid-row: 7 / 11;
}

.FourthCard {
    grid-column: 8 / 11;
    grid-row: 7 / 11;
}

#ThirdCard, #FourthCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#ThirdCard > .CardButtons, #FourthCard >.CardButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
}

#ThirdCard >.CardButtons > .button-0, 
#FourthCard > .CardButtons > .button-0 {
    width: 80%;
}

#ThirdCard >.CardButtons > .button-1,
#ThirdCard >.CardButtons > .button-2,
#FourthCard >.CardButtons > .button-1,
#FourthCard >.CardButtons > .button-2 {
    width: 34%;
}

.FifthCard {
    grid-column: 5 / 11;
    grid-row: 11 / 12;
    display: flex;
    flex-direction: column;
}

#FifthCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#FifthCard > .CardButtons {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}