.SkillsSection {
    display: flex;
    background-color: rgb(76, 97, 76);
    height: 50vh;
}

.Subcategories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Subcategories > h3 {
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

.SkillCards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.SkillCard {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.295);
    font-size: 1.4em;
    color: white;
}

.SkillCard:hover {
    box-shadow: 0 0 20px 2px rgba(216, 86, 25, 0.1);
}


.SkillCard > h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 20%;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.SkillCard > ul {
    list-style-type: none;
    min-height: 100%;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

.SkillCard > ul > li {
    line-height: 1.2;
}

@Media (max-height: 800px) {
    .SkillsSection {
        height: 100% !important;
        flex-direction: column;
        padding: 10px;
    }

    .SkillCard {
        height: 300px;
    }
}

@Media (max-width: 1100px) {
    .SkillsSection {
        flex-direction: column;
        height: 50vh !important;
    }

    .SkillCard {
        font-size: 1.4em;
    }
}

@Media (max-width: 800px) {
    .Subcategories > h3 {
        font-size: 25px;
    }

    .SkillCard > h4 {
        font-size: 0.8em;
    }

    .SkillCard {
        width: 30%;
    }
}

@Media (max-width: 450px) {
    .SkillsSection {
        flex-direction: column;
        height: 35vh !important;
    }

    .SkillCard {
        font-size: 15px;
    }

    .SkillCard > ul {
        margin-top: 10px;
    }

    .SkillCard > ul > li{
        line-height: 1.4;
    }
}