.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 236);
}

.ScrollToTop {
    position: fixed;
    bottom: 15px;
    left: 15px;
}